

body {
	background: #003540;
}

table tr td{
	height: 215px;
	width: 215px;
}

table {
	padding: 40px;
}

.box {
	font-size: 80px;
	text-align: center;
	color: #E6DEFF;
	font-family: 'Oswald', sans-serif;
}

#b1, #b2, #b3, #b4, #b5, #b6 {
	border-bottom: 3px solid #B6A6CA;
}

#b1, #b2, #b4, #b5, #b7, #b8 {
	border-right: 3px solid #B6A6CA;
}

/*reset button ID*/
button {  
	text-align: center;
	display: block;
	margin: auto;
	font-size: 18px;
	width: 150px;
	padding: 10px;
	background: #B6A6CA;
	color: #003540;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

#gameboard {
	margin: auto;
	clear: both;
}

#gameboard tr td:hover { 
  opacity: .5; 
  cursor: pointer; 
}

.won {
	background: black;
}

